*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: black;
    --text-color: #fff;
    --main-color: red;
}

body {
    min-height: 100vh;
    background: var(--text-color);
    color: var(--text-color);
}

.bg-color{
    background-color: var(--bg-color);
}

.nav-color{
    background-color: var(--bg-color);
}

header{
    width: 100%;
    height: 17vh;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    background: transparent;
    transition: all .50s ease;
}

/*
.pesquisa{
    padding-left: 2rem;
}
*/

/*
.logo {
    display: flex;
    align-items: center;
}
*/

.logo img{
    padding-top: 1rem;
    margin-left: -3rem;
    width: 285px;
    height: 223px;
}


.nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: -3rem;
}


.nav1 a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    font-size: 13px;
}

.nav1 a:hover {
    color: var(--main-color);
}

.nav1 a.active {
    color: var(--main-color);
}

.nav-icon{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 58%;
    font-size: 1.8rem;
    gap: 1rem;
}

.nav-icon i{
    color: var(--text-color);
    font-weight: 500;
    transition: all .50s ease;
}

.nav3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav3 a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

#img-fundo{
    height: 100%;
    width: 100%;
}







.text-last {
    text-align: center;
    background-color: black;
    color: #fff;
}

.text-last h1{
    font-size: 16px;
}


.coisas-final{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coisas-final img{
    width: 285px;
    height: 223px;
}

.nav4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    font-size: 13px;
    margin-right: 10rem;
}

.nav4 li a{
    color: var(--bg-color);
}

#btn-email{
    margin-right: 4rem;
}